html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.topnav {

    position: fixed;
    display: flex;
    justify-content: right;
    overflow: hidden;
    background-color: black;
    width: 100%;
  }
  
.topnav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
}

.topnav a:hover {
    color: #ff726f;
  }


section{
    margin: auto;
    text-align: center;
    color: black;
    font-size: 30px;
}

section h1{
    margin: 0;
}

.Name{
    height: 100vh;
    background-color: #ff726f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.About{
    padding-top: 120px;
    height: 100vh;
    background-color: yellow;
}

.Projects{
    padding-top: 120px;
    height: 100vh;
    background-color: green;
}

.Contact{
    padding-top: 120px;
    height: 100vh;
    background-color: blue;
}

footer{
    
    padding: 10px;
    display: flex;
    overflow: hidden;
    background-color: black;
    overflow: hidden;
    color: white;

}

html{
    scroll-behavior: smooth;;
  }